<div class="container">
  <header>
    <img src="{{ logo }}" alt="{{ title }}" class="( logo )" />
    <h1 class="( title )"> Deutsche Bank Technical Test </h1>
  </header>

  <div class="row ( country-region-select )">
    <div class="col-12">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="form-group">
              <app-region-country name="regionSelect"
                                  label="Region"
                                  (selectedValue)="emittedValue($event)"
                                  [data]="states">
              </app-region-country>
            </div>
          </div>

          <div class="col-sm-12 col-md-6">
            <ng-container *ngIf="makeActive">
              <div class="form-group">
                <app-region-country name="countrySelect"
                                    label="Country"
                                    (selectedValue)="emittedValue($event)"
                                    [data]="regionData">
                </app-region-country>
              </div>
            </ng-container>
          </div>
        </div>
        <button *ngIf="selectedData !== undefined"
                [disabled]="dataTableDisplay"
                (click)="showDataTable()"
                [ngClass]="dataTableDisplay ? 'btn-secondary' : 'btn-success'"
                class="btn ( view-data )">
          View Country Data
        </button>
    </div>
  </div>

  <div *ngIf="makeActive" class="row ( country-data-table )">
    <div class="col-12">
      <table class="table table-bordered table-responsive-md" *ngIf="dataTableDisplay">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Capital</th>
          <th scope="col">Population</th>
          <th scope="col">Currencies</th>
          <th scope="col">Flag</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th>{{ selectedData.name }}</th>
          <td>{{ selectedData.capital }}</td>
          <td>{{ selectedData.population | number }}</td>
          <td>
            <ul class="( currencies )">
              <li *ngFor="let currency of selectedData.currencies"> {{ currency.name }} </li>
            </ul>
          </td>
          <td><img class="( flag )" src="{{ selectedData.flag }}" alt="{{ selectedData.name }}" /></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
